<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Event Hub specific app setings for messaging connections -->
    <add key="EventHubName" value="***ENTER YOUR EVENT HUB NAME***"/>
    <add key="EventHubConnectionString" value="***ENTER YOUR KEY***"/>
  </appSettings>
</configuration>